@tailwind base;
@tailwind components;
@tailwind utilities;

/* DO I REALLY WANT? */
body {
  overflow-y: hidden;
}

/* https://css-tricks.com/practical-css-scroll-snapping/#aa-example-4-horizontal-full-screen */
.slider {
  font-family: sans-serif;
  scroll-snap-type: x mandatory;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}
section {
  border-right: 1px solid white;
  padding: 1rem;
  min-width: 100vw;
  height: 100dvh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

section img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}
